/* 
    Created on : 2017/05/14, 1:10:58
    Author     : okamoto
*/


.mainTitle {
    position: absolute;
    top: 150px;
    left: 0px;
    width: 100%;
    height: 550px;
    text-align: center;
    background-image: url('../img/top/mainTitle.png');
    background-size: cover;
    background-color: gray;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.8);
    
    z-index: 400;
}
.mainTitle__titleEnglish {
    position: relative;
    top: 170px;
    font-family: "Sawarabi Mincho";
    color: #ffffff;
    text-shadow: 1px 1px 7px rgba(0,0,0,0.5);
    font-size: 80px;
}
.mainTitle__titleJapanese {
    position: relative;
    top: 150px;
    font-family: "Sawarabi Mincho";
    color: #ffffff;
    text-shadow: 1px 1px 7px rgba(0,0,0,0.5);
    font-size: 40px;
}

.mainMenu {
    position: absolute;
    top: 700px;
    left: 0px;
    width: 100%;
    height: 1200px;
    z-index: 300;
    
    cursor: pointer;
}
.mainMenu__aboutLink {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 400px;
    background-color: #ffffff;
}
.mainMenu__projectLink {
    position: absolute;
    top: 400px;
    left: 0px;
    width: 100%;
    height: 400px;
    background-color: #ffffff;
}
.mainMenu__diaryLink {
    position: absolute;
    top: 800px;
    left: 0px;
    width: 100%;
    height: 400px;
    background-color: #ffffff;
}
.mainMenu__discriptionLeft {
    position: absolute;
    top: 0px;
    left: 66.6%;
    width: 33.3%;
    height: 400px;
}
.mainMenu__discriptionRight {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 33.3%;
    height: 400px;
}
.mainMenu__imageLeft {
    position: absolute;
    top: 0px;
    left: 33.3%;
    width: 66.6%;
    height: 400px;
    background-color: lightgray;
    background-size: cover;
    background-position: center center;
}
.mainMenu__imageRight {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 66.6%;
    height: 400px;
    background-color: lightgray;
    background-size: cover;
    background-position: center center;
}
.mainMenu__squareLeft {
    position: absolute;
    top: 350px;
    left: -100px;
    width: 130px;
    height: 100px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.mainMenu__squareRight {
    position: absolute;
    top: 350px;
    left: -30px;
    width: 130px;
    height: 100px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.mainDiary {
    position: absolute;
    top: 1900px;
    left: 0px;
    width: 100%;
    height: 700px;
    z-index: 350;
    
    background-color: #f4f4f4;
}
.mainDiary__separater {
    position: relative;
    top: 50px;
    left: 50%;
    width: 1px;
    height: 600px;
    background-color: #9c9c9c;
}
.mainDiary__title {
    position: relative;
    top: 40px;
    font-family: 'Josefin Sans', sans-serif;
    color: #545454;
    font-size: 35px;
    text-align: center;
    margin: 0 auto;
}
.mainDiary__twitter {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 50%;
    text-align: center;
    height: 700px;
}
.mainDiary__diary {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 700px;
    //background-color: red;
}
.mainDiary__diary--logo{
    
}
.mainDiary__diary--contents {
    
}
.mainDiary__moreButton {
    
}